.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  .bookcart-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    background-color: #59e73c;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  .bookcart-link i {
    font-size: 20px;
  }